.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.thumb-img {
    width: 150px;
    height: 150px;
    -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .15);
}

.modal {
    display: block !important;
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 250px;
    overflow-y: auto;
}


/*suggestion dropdown */

.suggest-artist-logo {
    width: 64px;
    height: 64px;
    padding: 10px;
}

.media-suggest-list {
    -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .15);
    padding: 5px;
}


/*albums  */

.album-info-img {
    -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .15);
}

.modal_track_handler {
    cursor: pointer;
}